h2{
	font-weight: 100;
}

.home{
	background-color:#CFDBD5 ;
	top: 0;
	width: 100%;
	position: absolute;
}

.bg-color-portada{
	background-color: #ffffff;
}

.iconic-portada{
	width: 50%;
}

.png{
	width: 10%;
}

.png2{
	width: 15%;
	height: 15%;
}

.png1{
	display: flex;
	width: 5%;
	margin-left: auto;
	margin-right: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.row-portada{
	display: flex;
	justify-items: center;
	justify-content: space-between;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.justify{
	text-align: justify;
	width: 80%;
}

.row-descubre{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.end{
	margin-left: 5rem;
	align-items: flex-end;
}

.title-descubre{
	font-size: 3rem;
}

.subtitle{
	font-size: 1.5rem;
}

.title-productos{
	font-size: 3rem;
}

.marginl{
	margin-left: 1rem;
}

.container {
  position: relative;
  width: 100%;
}

.container img {
  display: block;
  width: 50%;
	margin-left: auto;
	margin-right: auto;
  height: auto;
}

.text {
  position: absolute;
  top: 20%;
  left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2rem;
	width: 100%;
}




.png3{
	width: 50%;
	margin-bottom: 10rem;
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.producto{
	width: 40%;
	border-radius: 1rem;
	margin: .5rem;
}

.title{
	font-size: 4rem;
}

.img{
	width: 100%;
	border-radius: 1rem;
}

.column-portada{
	display: flex;
	flex-direction: column;
}

.inicio-portada{
	background-color: #D9D9D9;
}

.marginb{
	margin-bottom: 1rem;
}

.tienda-portada{
	background-color:#ECECEC ;
}

.margint{
	margin-top: 1rem;
}

.nosotros-portada{
	background-color:#FCFCFC ;
}

.productos{
	background-color: black;
	color: white;
	border-radius: 1rem;
	padding: .5rem;
}

.start{
	display: flex;
	justify-content: left;
	margin-left: 1rem;
}

.descubre{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}