@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

body, button{
	font-family: 'Trocchi', serif;
}

h2{
	font-weight: 100;
}

.listo{
	text-align: justify;
	width: 80%;
	font-size: 3rem;
}

.marginl2{
	margin-left: 1.5rem;
}

.title-nuestra{
	font-size: 3rem;
	text-align: justify;
}

.home{
	top: 0;
	width: 100%;
	position: absolute;
	margin-top: -1rem;
	padding-top: 0;
	background-color: #C9C9C9;
}

.bg-color-portada{
	background-color: #242423;
	margin-top: 0;
	padding-top: 0;
}

.iconic-portada{
	width: 50%;
}

.flex-redes{
	display: flex;
	justify-content: space-between;
	align-items: start;
	width: 40%;
	margin-bottom: 2rem;
}

.img-checo{
	width: 90%;
	border-radius: 1rem;
}

.png4{
	width: 15%;
}

.png{
	width: 10%;
}

.png2{
	width: 15%;
	height: 15%;
}

.png1{
	display: flex;
	width: 5%;
	margin-left: auto;
	margin-right: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.row{
	display: flex;
	align-items: center;
}

.row-portada{
	display: flex;
	justify-items: center;
	justify-content: space-between;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.justify{
	text-align: justify;
	width: 80%;
}

.en-icon{
	width: 90%;
}

.row-descubre{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.end{
	margin-left: 5rem;
	align-items: flex-end;
}

.title-descubre{
	font-size: 3rem;
}

.subtitle{
	font-size: 1.5rem;
}

.title-productos{
	font-size: 3rem;
	color: #F5CB5C;
	font-weight: 900;
	text-shadow: #F5CB5C;
}

.marginl{
	margin-left: 1rem;
}

.container {
  position: relative;
  width: 100%;
}

.container img {
  display: block;
  width: 50%;
	margin-left: auto;
	margin-right: auto;
  height: auto;
}

.text {
  position: absolute;
  top: 20%;
  left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2rem;
	width: 100%;
}

.column1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.strong{
	font-weight: 900;
	font-size: 5rem;
}


.png3{
	width: 60% !important;
	margin-bottom: 10rem;
	opacity: 0.3;
}

.png5{
	width: 6%;
	height: 6%;
	margin-left: 1rem;
}

.button{
	background-color: black;
	color: white;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-size: 2rem;
	border-radius: .5rem;
}

.png30{
	width: 50%;
	margin-bottom: 10rem;
	opacity: 0.3;
	transform: rotate(135deg);
}

.column4{
	display: flex;
	flex-direction: column;
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.producto{
	width: 40%;
	border-radius: 1rem;
	margin: .5rem;
}

.title{
	font-size: 4rem;
}

.img{
	width: 100%;
	border-radius: 1rem;
}

.column-portada{
	display: flex;
	flex-direction: column;
}

.inicio-portada{
	background-color: #373836;
	color: #E8EDDF;
}

.marginb{
	margin-bottom: 1rem;
}

.tienda-portada{
	background-color:#585954 ;
	color: #E8EDDF;
}

.margint{
	margin-top: 1rem;
}

.nosotros-portada{
	background-color:#73756F ;
	color: #E8EDDF;
}

.productos{
	background-color: black;
	color: white;
	border-radius: 1rem;
	padding: .5rem;
}

.start{
	display: flex;
	justify-content: left;
}

.descubre{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}